/* 
  .light{
      margin-top: 30px;
  }

  .btn{
      margin-top: 20px;
  } */

.mainHeader {
    text-align: center;
}

.logButton {
    width: 200px !important;
    align-self: center !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.appContainer {
    background-color: black;
    /* height: 100vh; */
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .appContainer {
        position: relative;
    }
}

.mainContainer {
    height: 100vh;
    overflow: overlay;
}

.buttonContainer {
    margin-top: 10px;
    margin-bottom: 30px;

}

.bulb-btn {
    width: 140px;
}

.bulb {
    margin-top: 30px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .loginContainer {
        position: absolute !important;
        right: 10px !important;
    }
}

.loginContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}